@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "partials/colors";
@import "partials/variable";
@import "partials/mixins";
@import "partials/common";
body {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 2550px;
    scroll-behavior: smooth;
}
