@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "partials/colors";
@import "partials/variable";
@import "partials/mixins";
@import "partials/common";
body {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 2550px;
    scroll-behavior: smooth;
    font-family: "Roboto", "solaimanlipinormal", sans-serif !important;
}

.demand-budget-main {
    .common-card {
        h4 {
            font-size: 16px;
        }
    }
}

.unitoffice-entry-table {
    .card {
        .table-responsive {
            table {
                th,
                td {
                    font-size: 14px;
                    padding: 5px 5px;
                }
            }
        }
    }
}
