$transition-4-einout: all 0.4s ease-in-out;
$transition-9-einout: all 0.9s ease-in-out;
$roboto: "Roboto", sans-serif;
$bangla-font: "solaimanlipinormal";
$p-red: #e83330;
$white: #fff;
$theme-blue: #556ee6;
